.back-button {
    align-items: center;
    background: #EFF3F5;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}
.back-button:hover {
    background: #d5d8da;
}
.BackIcon-mobile_container{
    display: flex;
    justify-content: space-between;
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.main_hedear{
color: #181C25;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 28px;
}

.body-md-regular {
  color: rgba(0, 0, 0, 0.72);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 24px;
}

.validation{
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}
.input-with-icon-content-icon.center.ph {
  height: 108px;
}
.desktop .form span.validation-message {
    bottom:-18px;
}