.mantenance-banner {
    display: flex;
    background: rgba(230, 25, 14, 0.08);
    padding: 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 24px;
}
.signup-page .mantenance-banner, .login-page .mantenance-banner  {
    border-radius: 0;
    margin-bottom: 10px !important;
}

@media screen and (max-width: 1024px) {
    .mantenance-banner {
        background: #281C23;
        border-radius: 0;
        margin-bottom: 0 !important;
        color: white;
    }
    .signup-page .mantenance-banner,  .login-page .mantenance-banner  {
        background: rgba(230, 25, 14, 0.08);
        margin-left: -25px;
        margin-right: -25px;
        margin-top: -25px;
        color: black;
        margin-bottom: 10px !important;
    }
}