/* LOADER */

.initial-loader {
  background: var(--default-loader-bg) !important;
}

.initial-loader--fullscreen {
  height: 100vh;
  width: 100vw;
}

@media (min-width: 1024px) {
  .initial-loader--fullscreen {
    height: calc(100vh - 84px);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .initial-loader--fullscreen {
    height: calc(100vh - 40px);
  }
}

.initial-loader__barspinner {
  margin: 5rem auto;
}

.initial-loader__barspinner--rect {
  background-color: var(--brand-secondary);
}

.deriv-app > .header__loading {
  background-color: var(--general-main-1);
  border-bottom: var(--general-main-1);
}

.deriv-app > .app-contents__loading {
  background-color: var(--general-main-1);
}

.deriv-app > .footer__loading {
  background-color: var(--general-main-1);
  border-bottom: var(--general-main-1);
}

.initial-loader__loading {
  background-color: var(--general-main-1);
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 999999999 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
